<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Dashboard</title>

  <link rel="shortcut icon" type="image/x-icon"
        href="../../png/favicon.png" th:href="@{/png/favicon.png}" />

  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/dashboard.css" th:href="@{/css/dashboard.css}" />
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/main.css" th:href="@{/css/main.css}" />
  <!-- add CSS library -->
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/main.css" th:href="@{/css/main.css}" />
  <!-- add JS library -->
  <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery-3.6.4.js}"></script>
</head>

<body>