<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- add CSS library -->
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/main.css" th:href="@{/css/main.css}" />
    <!-- add JS library -->
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.4.js}"></script>
</head>

<body>
<div th:replace="nav"></div>
<div style='text-align:center; width:100%'>
    <h1>Здравствуйте!</h1>
    <div>Вам необходимо <a href="#" th:href="@{/auth/login}">зайти</a> в личный кабинет.</div>
    <div>Либо <a href="#" th:href="@{/auth/register}">зарегистрироваться.</a></div>
</div>
<br/><hr/>
<div th:replace="footer"></div>

<script type="module" src="js/dynamicContent.js"></script>
</body>
</html>