<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>User Dashboard</title>
	<!-- add Icon -->
	<link rel="shortcut icon" type="image/x-icon"
		  href="../../png/favicon.png" th:href="@{/png/favicon.png}" />
	<!-- add Bootstrap library -->
	<link rel="stylesheet" type="text/css" media="all"
		  href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
	<!-- add CSS library -->
	<link rel="stylesheet" type="text/css" media="all"
		  href="../../css/dashboard.css" th:href="@{/css/dashboard.css}" />
	<link rel="stylesheet" type="text/css" media="all"
		  href="../../css/main.css" th:href="@{/css/main.css}" />
	<!-- add JS library -->
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-3.6.4.js}"></script>
</head>

<body>
<div th:replace="nav"></div>
<h1>Счета пользователя</h1>
<div class="dashboard">
	<table>
		<tr>
			<th style="width: 120px;">ID</th>
			<th style="width: 80px;">Валюта</th>
			<th style="width: 150px;">Тип счета</th>
			<th style="width: 100px;">Баланс</th>
			<th style="width: 100px;">Процент</th>
			<th style="min-width: 100px;">Владелец</th>
			<th style="width: 120px;">ID владельца</th>
		</tr>
		<tr th:each="acc : ${bank_accounts}">
			<td th:text="${acc.id}"></td>
			<td th:text="${T(com.example.Bank.models.FormAttributes).getAccountCurrencyString(acc.accountCurrency)}"></td>
			<td th:text="${acc.accountName}"></td>
			<td th:text="${acc.balance}"></td>
			<td th:text="${acc.interestRate + '%'}"></td>
			<td th:text="${acc.fullName}"></td>
			<td th:text="${acc.userId}"></td>
		</tr>
	</table>
</div>
<br/><hr/>
<div th:replace="footer"></div>
<script type="module" src="../../js/dynamicContent.js"></script>
</body>
</html>